<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>A22</title>
</head>
<body>
    <form th:action="@{/index}" method="post">
        <input type="number" placeholder="Year" name="year"/><br/>
        <input type="number" placeholder="Engine Size" name="engSize"/><br/>
        <input type="number" placeholder="Purchasing price" name="price"/><br/>
        <input type="submit"/>
    </form>
</body>
</html>